<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @link_post.title %>
</p>

<% if current_user == @link_post.user %>
  <%= link_to 'Edit', edit_link_post_path(@link_post) %> |
<% end %>
<%= link_to 'Back', posts_path %>

<%= render 'comments/form', post: @link_post, comment: Comment.new %>

<%= render 'comments/comments', post: @link_post %>
