<p id="notice"><%= notice %></p>

<h1>
  <%= @link_post.score %>
  <%= @link_post.title %>
</h1>

<p>
  <%= link_to @link_post.url, @link_post.url, target: "_blank" %>
</p>

<% if current_user == @link_post.user %>
  <%= link_to 'Edit', edit_link_post_path(@link_post) %> |
<% end %>

<%= link_to 'Back', posts_path %>

<hr/>

<%= render "comments/form", post: @link_post, comment: Comment.new %>

<% @comments.each do |comment| %>
  <p>
    <%= markdown comment.text %>
  </p>

  <hr/>
<% end %>