<%= form_for(@text_post) do |f| %>
  <%= render 'shared/error_messages', :resource => @text_post %>

  <fieldset>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </fieldset>

  <fieldset>
    <%= f.label :url %>
    <%= f.url_field :url %>
  </fieldset>

  <fieldset>
    <%= f.label :text %>
    <%= f.text_area :text %>
  </fieldset>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
