<p id="notice"><%= notice %></p>

<p>
  <%= @text_post.title %>
</p>

<p>
  <%= markdown @text_post.text %>
</p>

<% if current_user == @text_post.user %>
  <%= link_to 'Edit', edit_text_post_path(@text_post) %> |
<% end %>

<%= link_to 'Back', posts_path %>
