<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<p>
  <%= link_to "Add text post", new_text_post_path %>
</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th># Votes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.user.email %></td>
        <td><%= post.votes.count %></td>
        <td><%= link_to "Upvote", post_votes_url(post), method: "post" %></td>
        <td><%= link_to "De-vote", post_votes_url(post), method: "destroy" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Post', new_post_path %>
