<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<hr/>

<p>
  <%= link_to "Submit a new text post", new_text_post_path %>
  <br/>
  <%= link_to "Submit a new link", new_link_post_path %>
</p>

<hr/>

<table width="800px">
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= post.score %>
          <%= link_to post.title, post %>
        </td>
        <td>
          <%= post.user.email %>
        </td>
        <td>
          <% vote = post.vote_by(current_user) %>
          <% if vote.present? %>
            <%= "You voted:" %>
            <%= (vote.score > 0 ? "Good" : "Bad") %>
          <% else %>
            <%= link_to "Up Vote", post_votes_path(post, score: 1), method: :post %>
            or
            <%= link_to "Down Vote", post_votes_path(post, score: -1), method: :post %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%#= link_to 'New Post', new_post_path %></p>


