<p id="notice"><%= notice %></p>

<div class="text-center">
  <h1>All Posts</h1>
  <%= link_to 'New Post', new_text_post_path %>
</div>

<table class="col-md-8 col-md-offset-2">
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td>
          <%= link_to post do %>
            <%= post.title %>
            (<%= post.votes.count %> likes)
          <% end %>
        </td>
        <td><%= post.url %></td>
        <td><%= post.text %></td>
        <td><%= link_to 'Like', post_votes_path(:post_id => post.id), :method => 'post' %></td>
        <td><%#= link_to 'Unlike', post_vote_path(:post_id => post.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
